.hero-section {
    /* background-image: url('../../assets/background-design.svg');
    background-size: 90%;
    background-position: bottom;
    background-repeat: no-repeat; */

    background: #F6F4F0;
background: linear-gradient(150deg, rgba(246, 244, 240, 1) 23%, rgba(64, 82, 181, 1) 100%);
}